/* css styles */
body {
    background-color: #fff8e7;
}
.name {
  font-size: 100px;
  font-weight: bold;
  font: "Times New Roman";
  display: center;
}
.embolden {
  font-weight: bold;
  
}
.paragraphs {
  font-size: 30px;
  font: "Times New Roman";
}
.dates {
  color: #232;
  font-weight: lighter;
  font-size: 16px;
  display: block;
  text-align: right;
}
.skillz {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.intro{  
  text-align: center;
  display: block;
  align-items: right;
  gap: 2rem;
}
.title {
  font-weight: bold;
  font-size: 1em;
}
